
.feature{
    text-align: center;

}
.feature-search{
    padding: 5px 0px 0px 0px;
    
}

.feature-location{
    font-size: 30px;
    color: rgb(219, 212, 212);
}

.feature-iconca{
    width: 50px;
}

