
.forecast{
    background: rgba(55, 55, 58, 0.6);
    margin-top: 125px;
    padding: 8px;
    position:sticky;
    bottom: 0;
    display: flex;
    color:white;
    width: 100%;
    justify-content: space-between;
    opacity: 90%;
}

.forecast-item{
    border: 2px solid rgb(160, 156, 156);
    background-color: rgb(74, 70, 70);
    border-radius: 20px;
    font-size:16px;
    width: 15%;
    font-weight: 300;
    text-align: center;
    padding: 10px 20px;
    margin: 5px;
    border-style: ridge;
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 10px rgba(0, 0, 0, 0.19);
    color: rgb(197, 204, 210);
}



@media only screen and (max-width: 1053px) {
    .forecast-item{
        font-size: 10px;
    }
    
   }